@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300;600&display=swap");

nav {
  background-color: cornsilk;
  padding: 25px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  padding-right: 50px;
  background-color: #ffffff;
  word-spacing: 30px;
}

.Name {
  width: 100%;
  overflow: auto;
}
.Menu {
  width: 100%;
  overflow: auto;
}
nav a {
  text-decoration: none;
  line-height: 65px;
}

nav h1 {
  text-align: left;

  word-spacing: 1px;
  font-family: "Italiana", sans-serif;
}

.BGHero {
  position: relative;
  top: 0;
  left: 0;
  background-attachment: fixed;
}
.RoundMe {
  border-radius: 50%;
  width: 15%;
  position: absolute;
  top: 250px;
  left: 200px;
}

.Snippet {
  position: absolute;
  top: 400px;
  left: 500px;
  font-family: "Montserrat", sans-serif;
  padding-right: 300px;
  padding-left: 100px;
  font-size: 30px;
}

.CaseStudies {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  background-color: #f8faff;
}

.Card1 {
  background-color: #ffffff;
  border-radius: 15px;
  width: 50%;
  overflow: auto;
  margin: auto;
}

.Card1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.container {
  text-align: center;

  font-family: "Montserrat", sans-serif;
  padding-bottom: 30px;
}

.container h4 {
  font-family: "Italiana", sans-serif;
  font-size: 30px;
}

.Button {
  display: inline-block;
  padding: 15px;
  margin: 15px;
  width: 150px;
  font-size: 14px;
  text-align: center;
  background-color: #ff3b3f;
  color: white;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
}

.Button:hover {
  transform: scale(1.1);
}

footer {
  background-color: #3f4860;
  padding: 100px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #f8faff;
}
footer h1 {
  font-family: "Italiana", sans-serif;
}
